<div class="container">
	<div class="jumbotron">
		<h1>Video Game Reviews</h1>
		<p>you will be able to see user created video games and the reviews to go along with them. </p>
		<p><a href="<%= new_user_registration_path %>" target="_blank" class="btn btn-success btn-lg">Sign up today</a></p>
	</div>
