<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to Video Game Reviews</h1>
    </div>
    <div class="col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Featured</a></li>
        <li class="breadcrumb-item"><a href="#">All Games</a></li>
        <li class="breadcrumb-item"><a href="#">About</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-align-self-start">
      <div class="jumbotron">
        <h2 class="display-3">Featured Content</h2>
        <p class="lead">Our more recent games and reviews</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
