<div class="row">
  <% if user_owns(@game) %>
    <%= button_to "Edit", edit_video_game_path(@game), class: "col-md-3 btn btn-secondary", method: :get %>
  <% end %>
</div>
<div class="row">
  <div class="body">
    <%= button_to "Write a review...", new_video_game_review_path(@game), class: "btn btn-primary", method: :get %>
    <h2><%= @game.title %></h2>

    <%= render 'reviews/reviews' %>
  </div>
</div>
