// Place all the styles related to the VideoGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-block {
  margin: 2rem;
  padding: 1rem;
  border: 1.5px solid #808080;
  border-radius: 5px;
  box-shadow: 0 0 30px black;
}

.voting-parameters p{
  width: 50px;
}

.voting-parameters * {
  display: inline-block;
}

.voting-parameters button {
  border-radius: 50%;
}
