@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE";
@import "skins/skin-black";

.content-wrapper, .main-footer {
  margin: 0;
}
.container > *  {
  text-align: center;
  font-weight: bolder;
}

li.footer {
  margin-top: 0.75rem;
}

input.range-field {
  margin: 1rem auto;
  width: 40%;
}
