// Place all the styles related to the VideoGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video_game_rating {
  margin: 1rem auto;
  width: 40%;
}

.header-buttons-div {
  display: inline-block;
}

.header-buttons {
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}
