// Place all the styles related to the VideoGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-buttons-div {
  display: inline-block;
}

.header-buttons {
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.video-game-block {
  margin: 1rem;
  padding: 3rem;
  min-height: 500px;
  position: relative;
  border: 1.5px solid #808080;
  border-radius: 5px;
  box-shadow: 0 0 30px black;
}

.video-game-block h4 {
  line-height: 4rem;
  text-align: right;
}

.video-game-block p {
  text-align: center;
}

.video-game-block span {
  position: absolute;
   top: 0;
   left: 10px;
}

.video-game-title-block {
  line-height: 0.5;
}

.video-game-body {
  border-top: 2px dotted black;
  padding: 3rem;
  word-wrap: break-word;
}

.rating-parameters * {
  display: inline;
}
