<% if @all_reviews.empty? %>
  <h3>No reviews have been created yet.</h3>
<% end %>
<div class="object-list">
  <% @all_reviews.each do |review| %>
    <div class="review-block col-sm-12 col-md-4 col-lg-3">
      <%= link_to review.title, review_path(review.id) %>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <span class="voting-parameters">
            <%= button_to vote_review_path(review, vote: 1), method: :post, disabled: review.voted_thumbs_up?(current_user), class: "btn btn-default" do %>
              <i class="fa fa-thumbs-up fa-2x"></i>
            <% end %>
            <p>Rating: <%= review.total_votes %></p>
            <%= button_to vote_review_path(review, vote: -1), method: :post, disabled: !review.voted_thumbs_up?(current_user), class: "btn btn-default" do %>
              <i class="fa fa-thumbs-down fa-2x"></i>
            <% end %>
        </span>
        </div>
      </div>
    </div>
  <% end %>
</ul>
