<h2>Edit - <%= @review_for_form.title %></h2>

<%= render "review_form" %>
<%= button_to "Delete", video_game_path(@review_for_form), data: { confirm: "Are you sure?" }, class: "col-md-4 col-md-offset-4 btn btn-danger", method: :delete %>
