<div class="row">
  <% if user_owns(@review) %>
    <%= button_to "Edit", edit_video_game_review_path(@review), class: "col-md-3 btn btn-secondary", method: :get %>
  <% end %>
</div>
<div class="row">
  <div class="body">
    <h2><%= @review.title %></h2>

  </div>
</div>
