<h3>Review for - <%= @game.title %></h3>
<div class="row">
  <% if user_owns(@review) %>
    <%= button_to "Edit", edit_user_review_path(current_user), class: "col-md-3 btn btn-secondary", method: :get %>
  <% end %>
</div>
<div class="row">
  <div class="body">
    <h2><%= @review.title %></h2>
    <p><%= @review.review %></p>
  </div>
</div>
