# encoding: UTF-8
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Add new games, and make reviews for them
  </div>
  <strong>
    Copyright &copy 2017
    <a href="/">Video Game Reviews</a>
  </strong>
  All rights reserved.
</footer>
